In [62]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
# loading the dataset
df = pd.read_csv("CBC data_for_meandeley_csv.csv")

In [64]:
df.head(4)

,S. No.,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT /mm3,HGB
0,NaN,NaN,NaN,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,NaN,Red Cell Distribution width,"White Blood Cell (WBC count),",Platelet,Hemoglobin
1,1.0,28.0,0.0,5.66,34,60.1,17,28.2,20,11.1,128.3,9.6
2,2.0,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13,7.02,419,13.8
3,3.0,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13,8.09,325,13.4

The data seems to have two column names.

In [65]:
 #changing column names
names = ["S.NO","Age","Sex","Red Blood Cell count",
                 	"Packed Cell Volume","Mean Cell Volume",
                    "Mean Cell Hemoglobin",	"MCHC","Red Cell Distribution width",
                    "White Blood Cell (WBC count)","Platelet","Hemoglobin"]
df.columns = names
df.head()

,S.NO,Age,Sex,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,MCHC,Red Cell Distribution width,White Blood Cell (WBC count),Platelet,Hemoglobin
0,NaN,NaN,NaN,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,NaN,Red Cell Distribution width,"White Blood Cell (WBC count),",Platelet,Hemoglobin
1,1.0,28.0,0.0,5.66,34,60.1,17,28.2,20,11.1,128.3,9.6
2,2.0,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13,7.02,419,13.8
3,3.0,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13,8.09,325,13.4
4,4.0,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264,11.3

dropping the first row.

In [66]:
#dropping the first row
df = df.drop([0],axis=0)
df.head()

,S.NO,Age,Sex,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,MCHC,Red Cell Distribution width,White Blood Cell (WBC count),Platelet,Hemoglobin
1,1.0,28.0,0.0,5.66,34,60.1,17,28.2,20,11.1,128.3,9.6
2,2.0,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13,7.02,419,13.8
3,3.0,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13,8.09,325,13.4
4,4.0,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264,11.3
5,5.0,20.0,1.0,4.14,36.9,89.1,27.8,31.2,13.2,4.75,196,11.5

Getting the shape of the data

In [67]:
# shape of the data
df.shape

(373, 12)

The dataset has 12 columns and 373 rows

In [76]:
# datatypes of different columns in the data set
datatypes = df.dtypes
dname = [ "DataType"]
dtypedf=pd.DataFrame(datatypes )
dtypedf.columns = dname
dtypedf

                             DataType
S.NO                          float64
Age                           float64
Sex                           float64
Red Blood Cell count           object
Packed Cell Volume             object
Mean Cell Volume               object
Mean Cell Hemoglobin           object
MCHC                          float64
Red Cell Distribution width    object
White Blood Cell (WBC count)   object
Platelet                       object
Hemoglobin                     object

The dataset has a both columns which are strings and floats.

In [84]:
# sum of missing data per column
df.isna().sum()

S.NO                            0
Age                             0
Sex                             0
Red Blood Cell count            0
Packed Cell Volume              0
Mean Cell Volume                0
Mean Cell Hemoglobin            0
MCHC                            0
Red Cell Distribution width     0
White Blood Cell (WBC count)    0
Platelet                        0
Hemoglobin                      0
dtype: int64

In [78]:
#dropping the missing data
df= df.dropna()

Checking for duplicate

In [80]:
df.duplicated().sum()

0

The data has no duplicated elements

converting the data types into their respective data type

In [82]:
column_data_types = {
    "S.NO": int,
    "Age": int,
    "Sex": str,
    "Red Blood Cell count": float,
    "Packed Cell Volume": float,
    "Mean Cell Volume": float,
    "Mean Cell Hemoglobin": float,
    "MCHC": float,
    "Red Cell Distribution width": float,
    "White Blood Cell (WBC count)": float,
    "Platelet": float,
    "Hemoglobin": float}
df = pd.DataFrame(df, columns=column_data_types.keys())
df = df.astype(column_data_types)

In [83]:
df.dtypes

S.NO                              int32
Age                               int32
Sex                              object
Red Blood Cell count            float64
Packed Cell Volume              float64
Mean Cell Volume                float64
Mean Cell Hemoglobin            float64
MCHC                            float64
Red Cell Distribution width     float64
White Blood Cell (WBC count)    float64
Platelet                        float64
Hemoglobin                      float64
dtype: object

statistical summary

In [89]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
S.NO,364.0,182.500000,105.221988,1.00,91.750,182.500,273.250,364.00
Age,364.0,44.917582,18.780854,11.00,28.000,44.500,60.000,89.00
Red Blood Cell count,364.0,4.278736,0.820166,1.36,3.780,4.335,4.800,6.90
Packed Cell Volume,364.0,36.762912,6.830835,13.10,32.900,36.800,41.850,56.90
Mean Cell Volume,364.0,87.509121,9.332164,55.70,83.175,87.950,91.875,124.10
Mean Cell Hemoglobin,364.0,28.227143,3.865998,14.70,26.300,28.200,30.400,41.40
MCHC,364.0,32.053407,2.801790,23.60,30.300,31.700,33.300,50.20
Red Cell Distribution width,364.0,15.116511,2.176557,10.60,13.600,14.800,16.100,29.20
White Blood Cell (WBC count),364.0,8.863571,4.868502,2.00,5.900,7.935,10.205,42.42
Platelet,364.0,223.750824,99.407153,10.00,153.000,210.000,268.250,660.00
Hemoglobin,364.0,11.907692,2.186686,4.20,10.600,12.100,13.400,19.60